<!DOCTYPE html>
<html>
  <head>
    <title>Research ENV</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
  </head>

  <body>

    <div class="container">
    <%= render 'index/flash' %>
      <navbar>
        <div class="applicationNav">
          <%= link_to "Home", home_path %> |
          <%= link_to "About", about_path %> |
          <% if user_signed_in? %>
            <%= link_to "Edit Profile", edit_user_registration_path %> |
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>

          <% else %>
            <%= link_to "Sign in", new_user_session_path %> |
            <%= link_to "Sign up", new_user_registration_path %> 

          <% end  %>





        </div>

      </navbar>


      <%= yield %>
    </div>


  </body>
</html>
